@import '../node_modules/destyle.css/destyle.min.css';

html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  font-size: 1.6rem;
  -webkit-overflow-scrolling: touch;
  min-width: 320px;
}